<section>
  <h1>Global AiB</h1>
  <h2><%= link_to "Global AiB", "root_url" %></h2>
  <article id="aib">
    <h1>AiB</h1>
    <address>
      AiB estudi d’arquitectes, SLP <br />
      Jonqueres 16, 13A  <br />
      CAT-08003 Barcelona <br />
      T. +34 934 542 047 <br />
      F. +34 935 514 650 <br />
      <br />
      <%= mail_to "aib@aib.cat" %> <br />
      <%= link_to "AiB website", "http://www.aib.cat" %> <br />
    </address>
  </article>
  <article id="matter_management">
    <h1>Matter Management</h1>
    <address>
      2 NE 40th st, #301 <br />
      Los Angeles  <br />
      USA <br />
      <br />
      T. 310 497 7303 <br />
      F. 928 222 7303 <br />
      <br />
      <%= mail_to "info@ma77er.com" %> <br />
      <%= link_to "Matter Management website", "http://www.ma77er.com" %> <br />
    </address>
  </article>
  <article id="collectivaa">
    <h1>Collectivaa</h1>
    <address>
      Ciutat de Granada 52, 2nd <br />
      CAT-08011  <br />
      Barcelona <br />
      <br />
      T. +34 934 542 047 <br />
      F. +34 935 514 650 <br />
      <br />
      <%= mail_to "hello@collectivaa.com" %> <br />
      <%= link_to "Collectivaa website", "http://www.collectivaa.com" %> <br />
    </address>
  </article>
  <%= image_tag "world_map.png", width: "700" %>
</section>
