<p id="notice"><%= notice %></p>

<p>
  <b>name:</b>
  <%= @project.name %>
</p>

<p>
  <b>City:</b>
  <%= @project.city %>
</p>

<p>
  <b>Years:</b>
  <%= @project.years %>
</p>

<p>
  <b>Category:</b>
  <%= @project.category %>
</p>


<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
